 <header class="header">
   <div class="container header-container">
     <nav class="header-navigation">
       <a class="header-logo" href="./index.html">Web<span>Studio</span></a>
       <button id="menuMobileBtn" class="mobile-btn-menu" type="button" aria-label="mobile btn menu">
         <svg class="mobile-menu-svg" width="24" height="24">
           <use href="./images/icons-2.svg#icon-mob-menu"></use>
         </svg>
       </button>
       <ul class="header-menu">
         <li class="header-item">
           <a class="header-menu-home active" href="./index.html">Studio</a>
         </li>
         <li class="header-item">
           <a class="header-menu-home" href="">Portfolio</a>
         </li>
         <li class="header-item">
           <a class="header-menu-home" href="">Contacts</a>
         </li>
       </ul>
     </nav>
     <address class="header-adres">
       <ul class="header-info">
         <li class="header-info-item">
           <a class="header-info-link" href="mailto:info@devstudio.com">info@devstudio.com</a>
         </li>
         <li class="header-info-item">
           <a class="header-info-link" href="tel:+110001111111">+11 (000) 111-11-11</a>
         </li>
       </ul>
     </address>
   </div>
   <div class="container">
     <div class="mobile-window" id="mobileWindow">
       <button id="closeMobileBtn" class="mobile-btn-close" type="button">
         <svg class="mobile-svg" width="8" height="8">
           <use href="./images/icons-2.svg#icon-close-btn-modal"></use>
         </svg>
       </button>
       <ul class="mob-menu">
         <li class="mob-item">
           <a class="mob-menu-home active" href="./index.html">Studio</a>
         </li>
         <li class="mob-item">
           <a class="mob-menu-home" href="">Portfolio</a>
         </li>
         <li class="mob-item">
           <a class="mob-menu-home" href="">Contacts</a>
         </li>
       </ul>
       <div>
         <ul class="mob-info">
           <li class="mob-info-item">
             <a class="mob-link-tel" href="tel:+110001111111">+11 (000) 111-11-11</a>
           </li>
           <li class="mob-info-item">
             <a class="mob-link-mail" href="mailto:info@devstudio.com">info@devstudio.com</a>
           </li>
         </ul>
         <ul class="mob-soc-list">
           <li class="mob-soc-item">
             <a class="mob-soc-link" href="" target="_blank" rel="noopener noreferrer">
               <svg width="24" height="24" class="mob-soc-icon">
                 <use href="./images/icons-2.svg#icon-instagram-2"></use>
               </svg>
             </a>
           </li>
           <li class="mob-soc-item">
             <a class="mob-soc-link" href="" target="_blank" rel="noopener noreferrer">
               <svg width="24" height="24" class="mob-soc-icon">
                 <use href="./images/icons-2.svg#icon-twitter-1"></use>
               </svg>
             </a>
           </li>
           <li class="mob-soc-item">
             <a class="mob-soc-link" href="" target="_blank" rel="noopener noreferrer">
               <svg width="24" height="24" class="mob-soc-icon">
                 <use href="./images/icons-2.svg#icon-facebook-1"></use>
               </svg>
             </a>
           </li>
           <li class="mob-soc-item">
             <a class="mob-soc-link" href="" target="_blank" rel="noopener noreferrer">
               <svg width="24" height="24" class="mob-soc-icon">
                 <use href="./images/icons-2.svg#icon-linkedin-1"></use>
               </svg>
             </a>
           </li>
         </ul>
       </div>
     </div>
   </div>
 </header>